@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h1{
    font-family: "Montserrat", sans-serif;
}

button{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: bold;
}

a{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}